---
layout: default
---

          <div class="row-fluid">
			<header>
            	<h1 class="whimsical">Bike rides &amp; showers</h1>
        	</header>
            <p>This site collects the random, half-baked ideas that I come up with, hopefully in such a way that others can understand them and do something useful with them.</p>
          </div>


          <div class="row-fluid">
			{% for post in site.posts %}
	            <div class="span4">
	              <h2><a href="{{post.url}}">{{post.title}}</a></h2>
	              <p>{{post.summary}}
	              <p><a class="btn" href="{{post.url}}">details &raquo;</a></p>
	            </div><!--/span-->
			  {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
				{% if thecycle == '3' %}
		          </div><div class="row-fluid">
		        {% endif %}
			{% endfor %}
          </div>

          <div class="spacer"/>

          <div class="row-fluid">
            <p>Curious about the <a href="/about.html">motivation</a> for this site?</p>
            <p class="signature">-- david ascher (find me on <a class="favicon brandColor twitter" href="https://twitter.com/davidascher">twitter</a> or <a class="favicon brandColor github" href="https://github.com/davidascher">github</a>)</p>
          </div>
